@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

.molten {
  font-family: 'Kulim Park', sans-serif;

  background:
     url(/background.png)    

     no-repeat  
     center;
     background-size: cover;

}


@keyframes upAndDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}

.blob1 {
  animation: upAndDown 8s infinite;
}



@keyframes upAndDown2 {
  0%, 100% {
    transform: translateY(-10px) translateX(10px);
  }
  50% {
    transform: translateY(-30px) translateX(40px) rotate(4deg);
  }
}

.blobleft {

  animation: leftblob 8s infinite;

}

@keyframes leftblob {
  0%, 100% {
    transform: translateY(-15px) translateX(-15px);
  }
  50% {
    transform: translateY(0px) translateX(-10px) rotate(0deg);
  }
}

.blob2 {
  animation: upAndDown2 8s infinite;
}

@keyframes upDownAndRock {
  0%, 100% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-15px) rotate(3deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.blob4 {
  animation: upDownAndRock 6s infinite;
}

body, html {
  overflow-x: hidden;
}

.screen3 {

  font-family: 'Lora', serif;

}

.offwhite {
  background-color: #e4e4e4;
}

.spinvid {
 height: 90vh;
}
@media (max-width: 640px) {
  .spinvid {
    height: 40vh;
  }
}

@media (max-width: 400px) {
  .spinvid {
    height: 30vh;
  }
}


.secondspin {

  background: lightblue url("/bluesphere.png") no-repeat ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 70vh;


}

@media (max-width: 640px) {
  .secondspin {
    height:auto;
  }
}